RewriteEngine On

RewriteRule ^color(.*)picker$ /demo/lighty-colorpicker [R=301,L]
RewriteRule ^date(.*)picker$ /demo/lighty-datepicker [R=301,L]
RewriteRule ^clipboard$ /demo/lighty-clipboard [R=301,L]
RewriteRule ^slide$ /demo/lighty-slide [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* /index.php [L]