
:root {
    --color-font-title: #29292A;
    --color-font-text: #484849;

    --border-light: #DDDEE0;
    --bg-light: #F1F3F5;

    --bg-blue: #4C83D5;
    --color-blue: #4C83D5;

    --bg-yellow: #ffe360;
    --color-yellow: #ffe360;
}

/* COLORS */

.bg-blue {
    background: var(--bg-blue);
}
.color-blue {
    color: var(--color-blue);
}
.color-font-title {
    color: var(--color-font-title);
}
.color-font-text {
    color: var(--color-font-text);
}
.bg-yellow {
    background: var(--color-yellow);
}
.color-yellow {
    color: var(--color-yellow);
}
.bg-white {
    background: white;
}
.color-white {
    color: white;
}

/* HOVER */
.hover-grey:hover {
    background: var(--bg-light);
    color: black;
}
.hover-white:hover {
    background: white;
    color: black;
}



.bold {
    font-weight: 700;
}



html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-font-text);
    font-size: 1.1em;
    line-height: 1.6;
}

* {
    box-sizing: border-box;
}

/* Reset */

li {
    padding: 2px 0;
}

h1, h2 {
    margin-top: 60px;
    color: var(--color-font-title);
}

p {
    color: var(--color-font-text);
}

a {
    text-decoration: none;
    color: var(--color-blue);
}

/* Main */

.wrapper {
    width: 100%;
}

header,
main,
footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.inner-header,
.inner-main,
.inner-footer {
    width: 800px;
}



/* Main */

.inner-main {
    margin: 40px auto;
}



/* MARGIN */
.m-0 {
    margin: 0;
}
.mx-0 {
    margin-right: 0;
    margin-left: 0;
}
.my-0 {
    margin-top: 0;
    margin-bottom: 0;
}


/* LINKS & BUTTONS */

.link {
    text-decoration: none;
}

.btn-small {
    text-decoration: none;
    padding: 3px 9px;
    border-radius: 5px;
    font-size: 0.8em;
    margin: auto 10px;
}

.btn-medium {
    text-decoration: none;
    padding: 6px 8px;
    border-radius: 5px;
    font-size: 1em;
    margin: auto 10px;
}



/* Large title replicating h1 size */
.large-title {
    font-size: 35.2px;
    color: var(--color-font-title);
}



/* Lead section /home */

.lead {
    display: flex;
    justify-content: space-between;
}

.sidetext {
    display: flex;
    align-items: center;
}
    .lead-title {
        font-size: 2.5em;
        margin-top: 20px;
    }
    .lead-description {
        font-size: 1.3em;
        line-height: 1.4;
    }
    .lead-btn {
        display: inline-block;
        border: 1px solid var(--border-light);
    }
    .lead-btn-icon {
        margin-right: 10px;
        width: 13px;
        height: 13px;
    }
.sidecard {
    display: flex;
    align-items: center;
    width: 220px;
    min-width: 220px;
    max-width: 220px;
    margin-left: 40px;
    text-align: center;
}
    .profile-pic {
        height: 110px;
        width: 110px;
        border-radius: 1000px;
    }



/* Colored card */
.card-colored {
    background-image: linear-gradient(to right top, #ffe360, #ffcf5b, #ffbc5a, #ffa95c, #ff9760);
    box-shadow: 0 2px 7px rgba(41,41,42,0.3);
    padding: 20px;
    border-radius: 10px;
}




/* List (articles, or small elements which need a list...) */
.list {
    display: flex;
    flex-direction: column;
}
.list-el {
    padding: 2px 20px 2px 20px;
    border-bottom: 1px solid var(--border-light);
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.list-el:hover {background: var(--bg-light);}

.list-el-left {
    display: flex;
    width: 100%;
}
    .list-el-thumbnail-col {
        height: 100%;
        margin-right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .list-el-thumbnail-wrapper {
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .list-el-thumbnail {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        .list-el-thumbnail-letter {
            font-size: 3em;
            font-weight: bold;
        }
    .list-el-title {
        color: var(--color-font-title);
        margin-bottom: 0;
        font-weight: bold;
    }
    .list-el-description {
        margin-top: 5px;
        font-size: 0.8em;
    }
.list-el-right {
    display: flex;
    align-items: center;
    margin-left: 20px;
}



/* List element (projects) */

.list-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid var(--border-light);
}

.list-element .project-content {
    display: flex;
}
    .list-element {

    }
    .list-element .project-title {
        font-size: 1.2em;
        font-weight: 700;
        color: var(--color-font-title);
        margin: 0 0 7px 0;
    }
    .list-element .project-title-description {
        margin: 0;
    }

.list-element .project-links {
    display: flex;
    justify-content: center;
    align-items: center;
}
    .list-element .link-github {
        border: 1px solid grey;
        display: flex;
        align-items: center;
    }
    .list-element .github-icon {
        margin-right: 5px;
        height: 14px;
        width: 14px;
    }



/* BLOG PAGE */

.categories {
    display: flex;
    flex-wrap: wrap;
}
.categories a {
    margin-top: 7px;
    margin-bottom: 7px;
}




/* Header */

.inner-header {
    /*border: 1px solid grey;*/
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner-header .title {
    display: flex;
    align-items: center;
    font-size: 1.1em;
    font-weight: bold;
}

.inner-header .website-logo {
    height: 30px;
    width: 30px;
    margin-right: 20px;
}

.inner-header nav {
    display: flex;
    align-items: center;
}

.inner-header nav a {
    padding: 13px 20px;
    border-radius: 7px;
    margin: auto 7px;
}

.inner-header nav a:hover {
    background: var(--bg-light);
    color: black;
}

/* Footer */

.inner-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto;
}

.inner-footer nav a {
    padding: 13px 25px;
    text-align: center;
}

.inner-footer nav a:hover {
    color: black;
}

.inner-footer nav img {
    height: 20px;
    width: 20px;
}


@media (max-width: 500px) {
    .inner-footer,
    .inner-footer nav {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}