
:root {
    --color-font-title: #29292A;
    --color-font-text: #484849;

    --border-light: #D8D9DB;
    --bg-light: #F1F3F5;

    --bg-blue: #4C83D5;
    --color-blue: #4C83D5;
}

.bg-blue {
    background: var(--bg-blue);
}
.color-blue {
    color: var(--color-blue);
}
.color-font-title {
    color: var(--color-font-title);
}
.color-font-text {
    color: var(--color-font-text);
}
.bg-white {
    background: white;
}
.color-white {
    color: white;
}

.bold {
    font-weight: 700;
}



html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-font-text);
}

* {
    box-sizing: border-box;
}

/* Reset */

h1, h2 {
    color: var(--color-font-title);
}

p {
    color: var(--color-font-text);
}

a {
    color: var(--color-font-text)
}

/* Main */

.wrapper {
    width: 100%;
}

header,
main,
footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.inner-header,
.inner-main,
.inner-footer {
    width: 800px;
}



/* Main */

.inner-main {
    margin: 40px auto;
}



/* LINKS & BUTTONS */

.link {
    text-decoration: none;
}

.btn-small {
    text-decoration: none;
    padding: 7px 10px;
    border-radius: 5px;
}




/* Large title replicating h1 size */
.large-title {
    font-size: 32px;
    color: var(--color-font-title);
}



/* Lead section /home */

.lead {
    /*border: 1px solid grey;*/
    display: flex;
    justify-content: space-between;
}

.sidetext {
    display: flex;
}
    .lead-title {
        font-size: 2.5em;
    }
    .lead-description {
        font-size: 1.3em;
    }
    .lead-btn {
        display: inline-block;
        border: 1px solid var(--border-light);
    }
    .lead-btn-icon {
        margin-right: 10px;
        width: 13px;
        height: 13px;
    }
.sidecard {
    width: 220px;
    min-width: 220px;
    max-width: 220px;
    border-radius: 10px;
    margin-left: 40px;
    padding: 40px;
    background-image: linear-gradient(to right top, #ffe360, #ffcf5b, #ffbc5a, #ffa95c, #ff9760);
    text-align: center;
}
    .profile-pic {
        height: 110px;
        width: 110px;
        border-radius: 1000px;
    }





/* Link */

.list-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid var(--border-light);
}

.list-element .project-content {
    display: flex;
}
    .list-element {

    }
    .list-element .project-title {
        font-size: 1.2em;
        font-weight: 700;
        color: var(--color-font-title);
        margin: 0 0 7px 0;
    }
    .list-element .project-title-description {
        margin: 0;
    }

.list-element .project-links {
    display: flex;
    justify-content: center;
    align-items: center;
}
    .list-element .link-github {
        border: 1px solid grey;
        display: flex;
        align-items: center;
    }
    .list-element .github-icon {
        margin-right: 10px;
        height: 20px;
        width: 20px;
    }
    .list-element .link-demo {
        margin-left: 20px;
    }


/* Header */

.inner-header {
    /*border: 1px solid grey;*/
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner-header .title {
    display: flex;
    align-items: center;
    font-size: 1.1em;
    font-weight: bold;
}

.inner-header .website-logo {
    height: 30px;
    width: 30px;
    margin-right: 20px;
}

.inner-header nav {
    display: flex;
    align-items: center;
}

.inner-header nav a {
    padding: 13px 20px;
    border-radius: 7px;
    margin: auto 7px;
}

.inner-header nav a:hover {
    background: var(--bg-light);
    color: black;
}

/* Footer */

.inner-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto;
}

.inner-footer nav a {
    padding: 13px 25px;
}

.inner-footer nav a:hover {
    color: black;
}