
:root {
    --color-font-grey: #29292A;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-font-grey);
}

* {
    box-sizing: border-box;
}

/* Reset */

a.link {
    text-decoration: none;
    color: var(--color-font-grey);
}

/* Main */

.wrapper {
    width: 100%;
}

header,
main,
footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.inner-header,
.inner-main,
.inner-footer {
    width: 800px;
}




/* Header */

.inner-header {
    /*border: 1px solid grey;*/
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner-header .title {
    display: flex;
    align-items: center;
    font-size: 1.1em;
    font-weight: bold;
}

.inner-header .website-logo {
    height: 30px;
    width: 30px;
    margin-right: 20px;
}

.inner-header nav {
    display: flex;
    align-items: center;
}

.inner-header nav a {
    padding: 13px 25px;
    border-radius: 7px;
    margin: auto 10px;
}

.inner-header nav a:hover {
    background: #F1F3F5;
    color: black;
}

/* Footer */

.inner-footer {
    display: flex;
    justify-content: space-between;
}

.inner-footer nav a {
    padding: 13px 25px;
}

.inner-footer nav a:hover {
    color: black;
}